*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin:0px auto;
}
header{
	background-image: url("../img/profile-1.png");
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
	padding-left: 150px;
	margin-top: 10px;
}
.main .nombre{
	width: 70%;
	margin:auto;
	margin-bottom:100px;
	padding: 40px;
}
p{
	margin: 20px;
}
.main .nombre article{
	padding: 50px;
	margin-bottom: 20px;
	padding: 30px;
}
.col-1{
	width: 8.333333%;
	
}
.col-2{
	width: 16.6666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.3333333%;
}
.col-5{
	width: 41.6666667%;
}
.col-6{
	width: 50%;
	float:right;
	background:yellow;
}
.col-7{
	width: 58.3333333%;
}
.col-8{
	width: 66.6666667%;
	text-align: center;
	
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.3333333%;
}
.col-11{
	width: 91.6666667%;
}
.col-12{
	width: 100%;
}
.main .nombre ul li{
	list-style:none;
	margin: 20px;
	background: grey;
	color: white;
}
.foto4{
	background-image: url("../img/p5.jpg");
	width: 200px;
	height: 200px;
	float: left;

}
.foto5{
	background-image: url("../img/p6.jpg");
	width: 200px;
	height:200px;
	float: left;
	margin-left: 5px;	
}
.foto6{
	background-image: url("../img/p8.jpg");
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 5px;
}
.foto7{
	background-image: url("../img/p5.jpg");
	width: 200px;
	height: 200px;
	margin-top: 5px;
	float: left;
	clear: both;
}
.foto8{
	background-image: url("../img/p6.jpg");
	width: 200px;
	height:200px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;	
}
.foto9{
	background-image: url("../img/p8.jpg");
	width: 200px;
	height: 200px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

